# controller
ST-controller-ST-NAME = Connected

ND-SENSE_DEVICE-NAME = Device
ND-SENSE_DEVICE-ICON = Electricity
ND-controller-NAME = Sense Monitoring
ND-controller-ICON = EnergyMonitor

ST-ST-NAME = Status
ST-CPW-NAME = Current Energy Usage

CMD-QUERY-NAME = Query
